#dashboard_link{
    margin-left: 1rem;
}
#dashboard_link:hover{
    color: #ffffff;
}
#logout_link{
    position: absolute;
    right: 1rem;
    margin-right: 1rem;
    font-size: 1.5rem;
}
#icon_logout{
    position: relative;
    bottom: -4px;
    right: 2px;
}
#logout_link:hover{
    color: #ffffff;
}